body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    width: auto;
    border: 1px solid #ccc;
    padding: 45px 15px;
    margin-bottom: 30px;
    color: #ffff;
    background-color: #1d1c1c;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: small;

}

button {
    color: rgba(240, 248, 255, 0.771);
    font-size: 26px;
    padding: auto;
    border: 1px solid;
    cursor: pointer;
    background-color: rgba(33, 31, 31);
}

.container-fluid {
    text-align: center;
    width: 100%;
}

p {
    color: #ffff;
    width: 60%;
    text-align: center;
}

.box:hover {
    background-color: #b69d74;


}

button {
    font-size: 16px;
    width: 150px;
}

button:hover {
    background-color: white;
    color: #1d1c1c;

}

.row {
    display: flex;
    justify-content: space-between;
}

.img-box {
    background-color: #b69d74;
    padding: 5px;
}

.img-box img {
    width: 60px;
    height: 60px;
}